.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    transition: opacity 0.3s ease;
}
.modal{
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}
button{
    width: 90px;
    display: block;
    margin: auto;
    padding: 5px 0px;
}
input,select{
    padding: 10px 0px;
    text-indent: 10px;
}